
<div style="font-size:17px;">

    Une demande de réinitialisation de votre mot de passe a été effectuée sur le site Propon.

    <br><br>
    
    Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ confirmationURL }}">{{ confirmationURL }}</a>


    <p>Si vous n'avez pas demandé de changement de mot de passe veuillez ignorer ce message.</p>

    <p>L'équipe Propon</p>

    <p style="margin-top: 16px; color: #555; font-size: 14px;">
        Propon — Présenter les projets
    </p>

</div>
