{% set hasLocation = hasHomepageLocationHint|default(false) %}

<section class="home-around-you-prompt card my-4">
    <div class="card-body home-around-you-prompt__body">
        <div class="home-around-you-prompt__content">
            <div class="home-around-you-prompt__title">Autour de vous</div>
            <p class="home-around-you-prompt__text">
                {% if hasLocation %}
                    Votre localisation est active. Vous pouvez la modifier à tout moment.
                {% else %}
                    Activez votre localisation ou choisissez un lieu pour découvrir des projets proches.
                {% endif %}
            </p>
        </div>
        <button class="btn btn-light home-around-you-prompt__action" type="button" data-home-location-trigger>
            {{ hasLocation ? 'Modifier la localisation' : 'Choisir un lieu' }}
        </button>
    </div>
</section>
