{% extends 'base.html.twig' %}
{% from 'cards/project_presentation/list.html.twig' import collection as project_collection %}

{% block title %}Découvrir les projets{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/project_card.css" rel="stylesheet">
    <link href="/css/titled_project_collection.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container my-5">
    
        {{ project_collection('Derniers projets présentés', presentations, 'tab-result') }}

        {% if presentations is empty %}
            <p class="text-center text-muted mt-4">Aucun projet présenté pour le moment.</p>
        {% endif %}
        
    </div>

{% endblock %}
