{% extends 'base.html.twig' %}
{% from 'project_presentation/cards/list.html.twig' import collection as project_collection %}

{% block title %}Présenter nos Projets{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="/css/project_card.css" rel="stylesheet">
    <link href="/css/titled_project_collection.css" rel="stylesheet">
    <link href="/css/project_collection_by_themes_by_tabs.css" rel="stylesheet">
    <link href="/css/show_more_less_button.css" rel="stylesheet">
    <link href="/css/home_connected.css" rel="stylesheet">
    <link href="/css/home_location_prompt.css" rel="stylesheet">
    {% if app.user and addNewsForm %}
        <link href="/css/create_news.css" rel="stylesheet">
    {% endif %}



{% endblock %}


{% block headTag %}

  <meta name="description" content="Plateforme de présentation de projets prévus ou en cours. Présentez gratuitement votre projet et explorez les projets déjà présentés.">

  <meta name="keywords" content="présentation de projets, entraide">

  {{ _self.openGraph('Ici on Présente les Projets', 'Propon', app.request.uri, 'Présentez votre projet simplement et rendez-le plus visible; trouvez des contributeurs.', 'website', app.request.uri ~'public/media/static/images/propon_logo.svg') }}
  
  <link rel="canonical" href="https://www.propon.org/" />

  {% if app.user and addNewsForm %}
    <script src="/js/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
  {% endif %}

{% endblock %}


{% block javascripts %}

  <script src="/js/show_more_less_button.js"></script>
  <script src="/js/home_location_modal.js" defer></script>
  {% if not app.user %}
    <script src="/js/home_anon_preferences.js" defer></script>
  {% endif %}
  {% if app.user and addNewsForm %}
    <script src="/js/news_creation.js"></script>
  {% endif %}

{% endblock %}

{% block body %}

    <div class="homepage-container page-container container-lg px-0 col-xxl-12">


        <style>
        
            .homepage-container{
            padding-top: 38px;
            }

            @media screen and (max-width: 580px) {

            .homepage-container{
            padding-top: 24px;
            }

            }
        
        </style>

        {# Case user logged in : displaying personalized content #}

        {% if app.user %}

            {% include "home/_connected_user_upper_display.html.twig" with { hasHomepageLocationHint: hasHomepageLocationHint|default(false) } %}

        {% endif %}


        {# Case user not logged in : displaying homepage jumbotron #}

        {% if not app.user %}

        {# Explore Propon - Display some projects by categories (tabs navigation) #}
        
            <div class="mt-1">
                {% include "home/_projects_by_category_tabs/_structure.html.twig" %}
            </div>


        <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

            {% include "home/_jumbotron.html.twig" %}

            <style>

            @media screen and (min-width: 820px) {

                #homepage-jumbotron-struct-container{
                margin-top: 3rem;
                margin-bottom: 6rem;
                
                }
                
            }

            </style>

        </div>

        {% endif %}


        {% if not app.user %}
            {% include "home/_around_you_prompt.html.twig" with { hasHomepageLocationHint: hasHomepageLocationHint|default(false) } %}
            {% for block in feedBlocks %}
                {% set blockTitleAction = block.key == 'around-you'
                    ? {
                        label: 'Modifier',
                        attrs: {
                            'data-home-location-trigger': '',
                            'aria-label': 'Modifier la localisation de la section Autour de vous'
                        }
                    }
                    : {} %}
                <div class="container my-5">
                    {{ project_collection(block.title, block.items, '', 'hide-335', '', block.stats, blockTitleAction) }}
                </div>
            {% endfor %}
        {% endif %}

        {% include "home/_around_you_location_modal.html.twig" %}


        {# Last Moto #}

        <div class="last-moto row fs-5 mt-md-2 fw-bold">

            <div class="text-center mb-md-1">Propon est une initiative gratuite dédiée à la promotion des Projets pour la réussite de tous.</div>

            <div class="text-center mb-md-3">Présentez votre Projet sur Propon.</div>

        </div>

    </div>

{% endblock %}
