when@prod:
    sentry:
        dsn: '%env(SENTRY_DSN)%'
        options:
            # Keep default PII disabled for now.
            send_default_pii: false
            environment: '%kernel.environment%'
            ignore_exceptions:
                # Noise reduction for common expected HTTP errors.
                - 'Symfony\Component\HttpKernel\Exception\NotFoundHttpException'
                - 'Symfony\Component\Security\Core\Exception\AccessDeniedException'
#
#        # If you are using Monolog, you also need this additional configuration to log the errors correctly:
#        # https://docs.sentry.io/platforms/php/guides/symfony/integrations/monolog/
#        register_error_listener: false
#        register_error_handler: false
#
#    monolog:
#        handlers:
#            # Use this only if you don't want to use structured logging and instead receive
#            # certain log levels as errors.  
#            sentry:
#                type: service
#                id: Sentry\Monolog\Handler
#
#            # Use this for structured log integration
#            sentry_logs:
#                type: service
#                id: Sentry\SentryBundle\Monolog\LogsHandler
#
#    # Enable one of the two services below, depending on your choice above
#    services:
#        Sentry\Monolog\Handler:
#            arguments:
#                $hub: '@Sentry\State\HubInterface'
#                $level: !php/const Monolog\Logger::ERROR
#                $fillExtraContext: true # Enables sending monolog context to Sentry
#        Sentry\SentryBundle\Monolog\LogsHandler:
#            arguments:
#                - !php/const Monolog\Logger::INFO
