{% extends 'base.html.twig' %}


{% block headTag %}

    <meta name="description" content="Propon présente les projets pour favoriser leur réalisation. Rejoignez-nous pour proposer des idées, des retours et des contributions.">

{% endblock %}

{% block title %}Rejoignez-nous{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 class="static-accent-title">Bienvenue!</h1>

        <section>

                <p>
                    <b>Propon est une initiative qui vise à présenter les projets à grande échelle</b>.
                    Cette initiative permettrait d'<b>accélérer la réalisation de projets utiles et variés</b>.
                </p>

                <p>
                    <b>Recenser, présenter et trier les projets favorise leur découverte</b> par des personnes susceptibles de
                    <b>participer à leur réalisation</b>. <b>Chaque projet compte, présentez le vôtre.</b>

                </p>

                <p>
                    À ce jour, le Projet des Projets est porté par Laurent GAILLARD.
                    Pour en savoir plus sur ses motivations, vous pouvez consulter le
                    <a href="{{ path('static_page', {'slug': 'short_manifesto'}) }}"><b>Manifeste du Projet des Projets</b></a>.
                </p>

        </section>

        <section>

            <h2 class="static-accent-title">Participer</h2>

            <p class="">

               <b>Propon a besoin de vous pour progresser.</b> Vos idées, critiques et remarques sont les bienvenues.
               Vous pouvez aussi proposer votre propre manière de contribuer.
               <a class="fw-bold" href="{{ path('contact_us') }}">Contactez-nous ici.</a>
    
            </p>

        </section>

    </div>

{% endblock %}
