
{# This modal contains form content #}

<div  id="createPPModal" class="modal create-pp-modal" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog modal-fullscreen">

        <div class="modal-content">
            
            <div class="box-header">
            
                <div class="box-header-brand">

                    <a class="ms-2 ms-md-5 me-3" href="/">
                        {% include "_partials/propon_logo_inline.html.twig" with {
                            logoClass: 'website-logo propon-logo'
                        } %}
                    </a>

                    <span class="box-title">
                    
                        Ajouter un Projet

                    </span>       
                
                
                </div>

                <a href="{{path ('homepage')}}">
                
                    <button type="button" class="btn btn-go-back btn-no-icon">Quitter</button>
                
                </a>

            </div>


            <div class="box-progress-bar">

                <div class="progress-line" style="width: {{ progressionPercentage }}%;"></div>

            </div>

            


            <div class="box-content">
                    
                <div class="form-container form text-center" data-track-view='{"key":"pres-help-step-{{ position }}", "attributes":{"uniqueName": "{{currentItem.type}}"} }'>

                    {% include "project_presentation/create/_form.html.twig" %}

                </div>
            
            </div>  

        </div>

    </div>

</div>

{# Create and show the modal #}
<script>

    document.addEventListener('DOMContentLoaded', () => 
    
    {

        const modalEl = document.getElementById('createPPModal');

        // Make sure Bootstrap’s JS is loaded
        if (typeof bootstrap === 'undefined') {
            return console.error('Bootstrap JS is not loaded (check bootstrap.bundle.js inclusion)');
        }

        // Create and show the modal
        const autoModal = new bootstrap.Modal(modalEl, {
            backdrop: 'static', // optional: prevent closing by clicking outside
            keyboard: true      // allow closing with the ESC key
        });

        autoModal.show();
    
    });

</script>
