{# icon (open a modal defined below) #}

<div data-bs-toggle="modal" data-bs-target="#project_status_edition" class="edit-status-button pp-edition-mode ps-2 pt-0 pt-md-2 pb-0 pt-lg-0 pb-lg-2 w-100 mb-0 mb-lg-3">

    <img class="mb-1" src="{{ asset('progress_status.svg', 'pp_wysiwyg')}}" alt="project status icon" width="25">
    
    <span class="ps-1">Statut<span class="d-none d-md-inline"> - Progression</span></span>

</div>

<style>
    
    .edit-status-button{

        font-size: 18px;
        font-weight: 500;

        border: none;
        cursor: pointer;
          
    }

    .edit-status-button:hover{

        background-color: var(--theme-surface-alt);
          
    }

    html[data-theme-variant="custom"] body[data-theme-scope="presentation"] .edit-status-button:hover,
    html[data-theme-variant="custom"] body[data-theme-scope="presentation"] .edit-status-button:focus {
        background-color: color-mix(in srgb, var(--theme-accent) 12%, var(--theme-surface));
    }

    .edit-status-button img{
        margin-right: 2px;
    }

       
    @media screen and (max-width: 580px) {

            
        .edit-status-button{
 
            font-size: 15px;
            
        }

        .edit-status-button img{
 
            width: 24px;
            height: 24px;
            
        }
        
    }

</style>
