
.bc-outer{
    position: relative;
    width: 330px;
    max-width: 100%;
    padding: 18px;
    margin-bottom: 22px;
    border: 1px solid rgb(171, 173, 190);
    border-radius: 4px;
}

.bc-content-wrapper{
    border-left: 3px solid #e0ddfe;
    padding-left: 10px;
}


.contactCardTitle {

    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;

}

.contact-card-icon{
    width : 16px;
    height: 16px;
    margin-bottom : 3px;
    margin-right : 5px;
}

form[name="business_card"] .form-row{
    margin-bottom: 30px;
}

form[name="business_card"] .contact-icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-bottom: 8px;
}

form[name="business_card"] .contact-icon-title {
    width: 30px;
    height: 32px;
    margin-right: 12px;
    margin-left: 3px;
    margin-top: 1px;
}

html[data-theme-variant="custom"] body[data-theme-scope="presentation"] form[name="business_card"] .contact-icon,
html[data-theme-variant="custom"] body[data-theme-scope="presentation"] form[name="business_card"] .contact-icon-title {
    filter: brightness(0) saturate(100%) var(--theme-contact-icon-filter);
}

@media screen and (max-width: 580px) {
    #add_business_card_form_modal .modal-body{
        padding: 10px 9px;
    }

    #add_business_card_form_modal form[name="business_card"] .contact-icon{
        margin-right: 5px;
        margin-bottom: 6px;
    }

    #add_business_card_form_modal form[name="business_card"] label{
        display: inline;
        font-size: 17px;
        font-weight: 400;
    }
}



@media screen and (max-width: 768px) {

    .bc-outer{

        width: 290px;

    }

}

@media screen and (max-width: 580px) {

    .bc-outer{

        padding: 12px;
        border: 1px solid rgb(215, 216, 220);

    }
    
    .contactCardTitle {

        font-size: 17px;
        font-weight: normal;

    }
    
}
