
/* Create news styles */

.proxy-news-creation-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.fake-send-button {
	display: flex;
	align-items: center;
	padding: 7px;
	border-radius: 50px;
	background-color: #d8ebf9;
	border: 1px solid #a4a4d8;
}

.fake-send-button img{
    width: 12px;
    padding-right: 1px;
}


.proxy-news-input {
	min-width: 130px;
	padding: 4px 13px 4px 12px;
	background-color: #fffffe;
	border-radius: 4px;
	border: 1px solid grey;
}



.news-form-struct-title{

    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #376475;

}

.news-form-struct-title .news-icon{

    margin-bottom: 4px;
    filter: invert(49%) sepia(40%) saturate(2752%) hue-rotate(353deg) brightness(108%) contrast(103%)

}

@media screen and (max-width: 580px) {

    #fullscreen-overlay .news-form-struct{
        
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

	
    .news-form-struct-title {
        margin-top: -10px;
        margin-bottom: 23px;
        font-size: 18px;
    }

    .news-form-struct-title img{

        width: 16px;
        height: 16px;
        margin-bottom: 0;

    }

	.news-form-container .tox-tinymce {
       
        height: 217px !important;

    }



}

html[data-theme-variant="custom"] .proxy-news-creation-container {
    background-color: var(--theme-surface-alt);
    border-color: var(--theme-border);
}

html[data-theme-variant="custom"] .proxy-news-input {
    background-color: var(--theme-surface);
    border-color: var(--theme-border);
    color: var(--theme-text);
}

html[data-theme-variant="custom"] .fake-send-button {
    background-color: var(--theme-surface);
    border-color: var(--theme-accent);
}

html[data-theme-variant="custom"] .fake-send-button img {
    filter: brightness(0) saturate(100%) var(--icon-filter, var(--theme-icon-filter));
}

html[data-theme-variant="custom"] .news-form-struct-title {
    color: var(--theme-title);
}

html[data-theme-variant="custom"] .news-form-struct-title .news-icon {
    filter: brightness(0) saturate(100%) var(--theme-icon-filter);
}

html[data-theme-variant="custom"] .news-form-container form button[type="submit"] {
    border-color: var(--theme-accent);
}

html[data-theme-variant="custom"] .news-form-container .images-icons-captions-container .chunk {
    border-color: var(--theme-border);
    background-color: var(--theme-surface);
    color: var(--theme-text);
}

html[data-theme-variant="custom"] .news-form-container .images-icons-captions-container .chunk:hover {
    background-color: var(--theme-surface-alt);
}

html[data-theme-variant="custom"] .news-form-container .images-icons-captions-container .add-image-label {
    color: var(--theme-text);
}

html[data-theme-variant="custom"] .news-form-container .upload-image-icon-news {
    filter: brightness(0) saturate(100%) var(--theme-icon-filter);
}

html[data-theme-variant="custom"] .news-form-container .upload-image-icon-news:hover {
    background-color: var(--theme-surface-alt);
}
