.document-outer
{
    width: 170px; 
    min-height: 140px;

    position: relative;
    
    border: 1px solid var(--theme-border);
    cursor:pointer;

    margin-bottom: 20px;
}

.document-outer:hover 
{
    background-color: var(--theme-surface-alt);
    
}

body[data-theme-scope="presentation"] .document-outer {
    border-color: var(--pp-card-border);
    background-color: var(--pp-card-bg);
    box-shadow: var(--pp-card-shadow);
}

body[data-theme-scope="presentation"] .document-outer:hover {
    background-color: var(--theme-surface-alt);
    border-color: var(--theme-border);
}

.pp-document-file-extension-container
{

    display: flex;

    align-items: center;

    padding: 0 0 0 12px;

}

.pp-document-file-extension
{  

    color: white;

    font-size: 22.4px;
    font-weight: bold;

    word-break:break-all; 
    width:0px

}



.pp-document-title
{

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px;

    text-align: center;
    word-break: break-word;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;


}

/* Different background-colors depending on file extensions */

.file-pdf{

    background-color: #e74c3c

}

.file-doc, .file-docx{

    background-color: #295391;

}

.file-xls, .file-xlsx{

    background-color: #2d7930;

}

.file-ppt, .file-pptx{

    background-color: #e28a5c;

}

.file-rtf{

    background-color: #3746a8;

}

.file-odt{

    background-color: #1e3a57;

}

.file-epub{

    background-color: #021230;

}



@media screen and (max-width: 580px) {

    .document-outer
    {
        margin-right: 1rem;
    }

    .documentRepresentation
    {
        width: 180px; 
        height: 130px;
    }

    .pp-document-title
    {

        font-size: 13px;

    }

}
