
/* design inspired by : https://www.uplabs.com/posts/messaging-app-2db4a257-7f1d-4d1c-970d-4cf6527247ff by Anastasia Marinicheva */

body {

  background-color: var(--theme-bg);
}


#main-body-container{

  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.messages-container {
  padding:0;
  background-color: var(--theme-surface); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 76vh;
  
  margin-top: 24px;

}
   

/* === CONVERSATIONS === */

.discussions {
	padding: 0;
	width: 25%;
	height: 76vh;
	overflow: hidden;
	overflow-y: auto;
	background-color: var(--theme-surface);
	display: inline-block;
	border-right: 2px solid var(--theme-border);
}


.discussions .discussion {
  width: 100%;
  height: 100px;
  background-color: var(--theme-surface-alt);
  border-bottom: solid 1px var(--theme-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.desc-contact p {
   
  overflow: hidden;
  text-overflow: ellipsis;
}
  

.discussions .discussion:hover {
  
  background-color: color-mix(in srgb, var(--theme-accent) 14%, var(--theme-surface));
  
}

.discussions .message-active {
  background-color: color-mix(in srgb, var(--theme-accent) 18%, var(--theme-surface));
}

.desc-contact {
  width: 90%;
  margin: 0 0 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  
  margin: 0 0 6px 0;
  font-family:'Montserrat', sans-serif;
  font-size: 17px;
  color: var(--theme-text);
  line-height: normal;
  padding-right: 15px;
}

.discussions .discussion .message {

  margin: 0 0 6px 0;
  font-family:'Montserrat', sans-serif;
  font-size: 17px;
  line-height: normal;
  color: var(--theme-text);
}

.timer {

  display: inline-block;
  font-family:'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  margin: 0;
  color: var(--theme-text-muted);
  background-color: var(--theme-surface);
  border: 1px solid var(--theme-border);
  border-radius: 15px;
}

.chat {
  width: 75% ;
  position: relative;
  padding: 0;
}

.header-chat {
	background-color: var(--theme-surface);
	height: 51px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--theme-border);
}

.chat .header-chat .icon {
  margin-left: 30px;
  color: var(--theme-text);
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color: var(--theme-title);
}



.chat .messages-chat {
  position: relative;
	padding: 25px 35px;
	height: 49vh;
	overflow-y: auto;
}

.chat .messages-chat .message {
  display:flex;
  align-items: center;
  margin-bottom: 8px;
}


.chat .messages-chat .text {
  margin: 0;
  background-color: var(--theme-surface-alt);
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 5px;
}

.time {
  font-size: 10px;
  color: var(--theme-text-muted);
  margin-bottom:10px;
  margin-left: 5px;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  float: right;

  margin-right: 0px !important;
  margin-left: auto; /* flexbox alignment rule */
}

.text-content{
  max-width: 80%;
}

.response .text {
  background-color: color-mix(in srgb, var(--theme-accent) 18%, var(--theme-surface)) !important;
}

.footer-chat {
	width: 100%;
	height: 20vh;
	background-color: transparent;
	border-top: 2px solid var(--theme-border);
}

.footer-chat form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.footer-chat form textarea{
  height: 15vh;
  max-width: 500px;
  display: inline-block;
  resize: none;
  border: 2px solid var(--theme-border);
  background-color: var(--theme-surface);
  color: var(--theme-text);
}

.footer-chat form .validation-button {
	margin: 0 0 0px 10px;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	border: 2px solid var(--theme-border);
}

.chat .footer-chat .send {
  color: var(--theme-accent-contrast);
  background-color: var(--theme-accent);
  position: absolute;
  right: 50px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.write-message {
  border: 1px solid var(--theme-accent);
  width: 80%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
  color: var(--theme-text-muted);
  font-size: 13pt;
}

.footer-chat input *::-moz-placeholder {
  color: var(--theme-text-muted);
  font-size: 13pt;
  margin-left:5px;
}

.footer-chat input *:-ms-input-placeholder {
  color: var(--theme-text-muted);
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
}


@media screen and (max-width: 780px) {

  
  .desc-contact {
   
    margin: 0 10px 0 10px;
  }

    
  .footer-chat form .validation-button{
    margin : 0 0 0 7px;
  }

}



@media screen and (max-width: 580px) {

  .time {
    margin-right: 7px;
  }

  .messages-container {
    position: relative;
    height: 85vh;
  }

  .collapse-button{

    margin: 0px 7px 0 0;
    
  }

  #header-title{
    
    margin: 0px 0 0 15px;

  }

  .chat .header-chat .name {

    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .discussions{
    position: absolute;
    width: 100%;
  }

  
  .chat {
    width: 100%;
    display: none;
  }

  .text-content{
    max-width: 100%;
  }

  .write-message {
    width: 80%;
    margin-left: 10px;
    padding: 5px;
  }


  .footer-chat {
    padding-left: 9px;
    padding-right: 7px;
  }
    
  .chat .footer-chat .send {

    right: 5px;
    padding: 8px;
    font-size: 14pt;
  }

  .chat .messages-chat {
    height: 57vh;
    padding: 20px 0px 10px 0px;
  }

  .chat .messages-chat .text {
    margin: 0 5px;
    padding: 10px;
  }


  .footer-chat form .validation-button {
    width: 50px;
    height: 41px;
    padding: 0;
    padding-bottom: 3px;
  }
}
