/* List/collection layout: title, icon, container */


.titled-projects-container{
    margin-top: 86px;
    margin-bottom: 80px;
}

.collection-title {

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;

    font-size: 26px;
	font-weight: 700;
	color: rgb(72, 67, 61);

}

.collection-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.read-more {
    margin-left: 47%;
}

html[data-theme-variant="custom"] .collection-title {
    color: var(--theme-title);
}




@media screen and (max-width: 580px) {

    .titled-projects-container{
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .collection-icon{
        width: 27px;
        margin-right: 5px;
    }

        
    .collection-title{

        margin-bottom: 20px;
        font-size: 20px;
    }

    .collection-container{
    
        justify-content: unset;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .collection-container > * {
        flex-shrink: 0;

    }

}
