
{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "newWebsiteFormModal", 'modal_title': "Ajouter un site web ou réseau social"} %}
    
    {% block modalBody %}

        {{ form_start(addWebsiteForm) }}

        {{ form_widget(addWebsiteForm) }}

    {% endblock %}

    {% block footerButtons %}

        <button type="submit" class="btn btn-validate">✔️ Valider</button>

        {{ form_end(addWebsiteForm) }}

    {% endblock %}


    {% block formErrors %}
        
        {% if not addWebsiteForm.vars.valid %}

            <script>
            
                $(document).ready(function(){
            
                    $('#{{modal_id}}').modal('show');
            
                });
            
            </script>

        {% endif %}
    
    {% endblock %}

{% endembed %}