
{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "newWebsiteFormModal"} %}

    {% block modalTitle %}Ajouter un site web ou réseau social{% endblock %}
    
    {% block modalBody %}

        {{ form_start(addWebsiteForm, {
            action: path('pp_add_website', { stringId: presentation.stringId }),
            method: 'POST'
        }) }}

        {{ form_widget(addWebsiteForm) }}

    {% endblock %}

    {% block footerButtons %}

        <button type="submit" class="btn btn-validate">Valider</button>

        {{ form_end(addWebsiteForm) }}

    {% endblock %}


    {% block formErrors %}
        
        {% if not addWebsiteForm.vars.valid %}

            <script>
            
                $(document).ready(function(){
            
                    $('#{{modal_id}}').modal('show');
            
                });
            
            </script>

        {% endif %}
    
    {% endblock %}

{% endembed %}