{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container page-container col-lg-4 text-center px-0 px-md-3">

        <h3 class="my-2 mb-md-5 fw-bold">Modification de votre mot de passe</h3>

        <div class="row mb-5">

            <div class="">
                        
                {{ form_start(form) }}

                {% include "utilities/toggle_password_visibility.html.twig" %}

                {{ form_widget(form) }}

                <!-- Action Buttons -->

                <div class="mt-5">


                    <a href="{{ path('user_profile_show', {'usernameSlug': app.user.usernameSlug}) }}">
                        <button type="button" class="btn btn-go-back me-3">Annuler</button>
                    </a>

                    <button type="submit" class="btn btn-validate ">Valider</button>
                    
                </div>

                {{ form_end(form) }}

            </div>


        </div>
        
    </div>
    
{% endblock %}