{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container page-container account-page col-md-10 col-lg-6 px-3 px-md-4 my-4 my-md-5">

        <h3 class="account-page__title fw-bold mb-4 mb-md-5 text-center text-md-start">Modification de votre mot de passe</h3>

        {{ form_start(form) }}

        {% include "utilities/toggle_password_visibility.html.twig" %}

        {{ form_widget(form) }}

        <!-- Action Buttons -->
        <div class="account-page__actions mt-4 d-flex justify-content-center justify-content-md-start align-items-center flex-wrap gap-3">
            <a href="{{ path('user_profile_show', {'usernameSlug': app.user.usernameSlug}) }}" class="btn btn-go-back">Annuler</a>
            <button type="submit" class="btn btn-validate">Valider</button>
        </div>

        {{ form_end(form) }}

    </div>
    
{% endblock %}
