{# Misc Info & Buttons #}

<div class="col-lg-6 pp-struct-container-wrapper">
    
    <div id="misc-struct-container" class="pp-struct-container sm-border-none d-flex justify-content-center">

        <div class="flex-wrapper d-flex flex-column align-items-center justify-content-center py-md-5">

            <div class="d-flex align-items-center">
            
                {% include 'project_presentation/edit_show/follow_button.html.twig' %}
            
                <button class="share-presentation-button btn" data-bs-toggle="modal" data-bs-target="#pp-share" type="button">

                    <img class="icon" src="{{ asset('share_light.svg', 'misc')}}" alt="share icon" width="22" height="22">
                    
                    <div class="text">Partager</div>
                
                </button>

            
            </div>

            {% include 'project_presentation/edit_show/share_modal.html.twig' %}    
                        
            {# Misc Buttons Row #}

            <div class="sm-text-center mt-5">

                {# Page Info #}

                <button id="page-info-dropdown" data-bs-toggle="dropdown" aria-expanded="false" type="button" class="pp-consultation-mode btn btn-light fw-normal me-2 mb-2 ">Informations sur la page ▾</button>

                <ul id="page-info-dropdown-content" class="dropdown-menu px-3" aria-labelledby="page-info-dropdown" style="max-width: 360px;">

                    {{ pageInfo }}

                </ul>
                
                {# Report a Problem Button #}

                <a class="text-decoration-none" href="{{ path('contact_us', {'context': 'report_abuse', 'item' : 'project_presentation', 'identifier': presentation.stringId }) }}">

                    <button type="button" class="pp-consultation-mode btn btn-light fw-normal mb-2 ">Signaler un problème</button>
                    
                </a>


            </div>
        
        </div>
    
    </div>

</div>

<style>

    #misc-struct-container .follow-button {

        padding: 8px 16px;
        margin-right: 18px;
        border: 2px solid rgb(196, 228, 178);
        border-radius: 33px;
        font-size: 22px;
        font-weight: bold;

    }

    #misc-struct-container .follow-button .not-followed-display img {
        width: 34px;
        height: 27px;
        margin-bottom: 3px;
        margin-right: 3px;
    }

    #misc-struct-container .follow-button img.check-icon {
        width: 28px;
        height: 22px;
    }

    #misc-struct-container .follow-button .followed-display .text {

        margin-right: 5px;
        margin-left: 6px;
    }

    @media (max-width: 575px) {

        #misc-struct-container .follow-button {

            padding: 8px 16px;
            margin-right: 18px;
            border: 2px solid rgb(196, 228, 178);
            font-size: 15px;
            font-weight: bold;

        }

        #misc-struct-container .follow-button .followed-display .text{

            margin-right: 2px;

        }

        
        #misc-struct-container .follow-button .not-followed-display img {

            margin-right: 2px;
        }

        #misc-struct-container .follow-button .followed-display img {
            margin-left: 3px;
        }

    }

    .share-presentation-button{

        display: flex;
        align-items: center;
        padding: 8px 16px;
        border: 2px solid rgb(196, 228, 178);
        border-radius: 33px;

    }

    .share-presentation-button img{

        margin-right: 3px;
        margin-bottom: 1px;

    }

    .share-presentation-button .text{

        display: inline-block;
        font-size: 22px;
        margin-bottom: 3px;
        padding-left: 5px;
        color: #373737;

    }

    @media screen and (max-width: 580px) {

        .share-presentation-button{

            padding: 6px 13px;

        }

        .share-presentation-button .icon{

            width: 22px;

        }

        .share-presentation-button .text{

            font-size: 15px;

        }
        
    }

</style>
