<script>
    
    // this script should be called only for user presenters
    
    // hiding or showing items : see wysisyg.css and a few declaration in project_presentation_page.css
    
    $(document).ready(function(){

        var $ppContainer = $(".pp-container");
        var liveSaveCsrfToken = "{{ csrf_token('live_save_pp') }}";

        function containerHasContent($container) {
            var hasContent = false;
            var $children = $container.children().not(".pp-struct-title-container").not(".pp-struct-toggle");

            $children.each(function() {
                var $node = $(this);

                if ($node.is("script, style, link")) {
                    return;
                }

                if ($node.is("img, svg, video, canvas, iframe, input, textarea, select, button")) {
                    hasContent = true;
                    return false;
                }

                if ($node.text().trim().length) {
                    hasContent = true;
                    return false;
                }

                if ($node.children().not("script, style, link").length) {
                    hasContent = true;
                    return false;
                }
            });

            return hasContent;
        }

        function setupStructCollapse() {
            $(".pp-container .pp-struct-container").each(function() {
                var $container = $(this);
                var $toggle = $container.children(".pp-struct-toggle");
                var collapseDisabled = $container.data("ppCollapse") === "disabled";

                if (collapseDisabled) {
                    $toggle.remove();
                    return;
                }
                var shouldHaveToggle = containerHasContent($container);

                if (!shouldHaveToggle) {
                    $toggle.remove();
                    return;
                }

                if ($toggle.length === 0) {
                    $container.prepend('<button type="button" class="pp-struct-toggle" aria-expanded="false" aria-label="Basculer cette section"></button>');
                }

            });
        }


        function getDefaultExpanded($container) {
            var defaultExpanded = $container.data("ppDefaultExpanded");

            if (defaultExpanded === undefined) {
                return $container.hasClass("is-expanded");
            }

            return defaultExpanded === true || defaultExpanded === "true";
        }

        function setStructExpanded($container, isExpanded) {
            var $toggle = $container.children(".pp-struct-toggle");

            $container
                .toggleClass("is-expanded", isExpanded)
                .toggleClass("is-collapsed", !isExpanded);

            if ($toggle.length) {
                $toggle
                    .toggleClass("is-expanded", isExpanded)
                    .attr("aria-expanded", isExpanded ? "true" : "false");
            }
        }


        function applyStructCollapseState(isEditMode, forceExpanded) {
            $(".pp-container .pp-struct-container").each(function() {
                var $container = $(this);

                if (!$container.children(".pp-struct-toggle").length) {
                    return;
                }

                var shouldExpand = true;

                if (isEditMode) {
                    if (typeof forceExpanded === "boolean") {
                        shouldExpand = forceExpanded;
                    } else {
                        shouldExpand = getDefaultExpanded($container);
                    }
                }

                setStructExpanded($container, shouldExpand);
            });

        }

        setupStructCollapse();
        applyStructCollapseState($ppContainer.hasClass("in-edition-mode"));

        $(document).on("click", ".pp-struct-toggle", function(e) {
            if (!$ppContainer.hasClass("in-edition-mode")) {
                return;
            }

            e.preventDefault();

            var $container = $(this).closest(".pp-struct-container");
            var isExpanded = !$container.hasClass("is-expanded");

            setStructExpanded($container, isExpanded);
        });

            
        // make delete item icons appear when clicking on a trash icon        
    
        $(".show-delete-items-buttons").click(function() {

            var scope = $(this).closest('.pp-struct-container').find('.delete-button');

            if ($(this).hasClass("inactivated")){

                scope.css('visibility', 'visible').css('opacity', '1');

            }

            else {

                scope.css('visibility', 'hidden').css('opacity', '0');

            }

            $(this).toggleClass("inactivated activated");
            
        });

        // switching between edition mode and consultation mode
            
        $( "#pp-switch-edit-consult-mode" ).click(function() {

            if($(this).hasClass("edition-mode")){

                // Entering edition mode

                // enabling sortable capabilities
                $('.js-elements-list[data-structure]').sortable('disabled', false);

                // enabling inline editing capabilities
                $("[data-edit]").attr('contenteditable','true');

            }

            else{

                // Entering consultation mode

                // disabling sortable capabilities
                $('.js-elements-list[data-structure]').sortable('disabled', true);
                
                // disabling inline editing capabilities
                $("[data-edit]").attr('contenteditable','false');

            }

            // toggling "switch display mode" button status

            $(this).toggleClass("edition-mode consultation-mode");

            // toggling whole presentation container status

            $(".pp-container").toggleClass("in-edition-mode in-consultation-mode");

            // hide / show flash messages

            $("#flash-messages").toggleClass("pp-edition-mode");

            applyStructCollapseState($(".pp-container").hasClass("in-edition-mode"));


        });


        // initialising inline edit capabilities
        $("[data-edit]").attr('contenteditable','true');


        // ajax live save capability on editable elements
        // thanks you https://stackoverflow.com/questions/19910843/autosave-input-boxs-to-database-during-pause-in-typing/19911256#19911256

        var timeoutId;

        $( "[data-edit]" ).on( "input", function() {

            metadata = $(this).attr("data-edit");

            // Skip elements without metadata to avoid bogus ajax calls.
            if (!metadata) {
                return;
            }
            if (!metadata) {
                return; // skip elements without metadata
            }

            

            // If a timer was already started, clear it.
            if (timeoutId) clearTimeout(timeoutId);

            elem = $(this);

            timeoutId = setTimeout(function() {

                ajaxSavePresentation(metadata, elem);

            }, 1250);

        });

        function ajaxSavePresentation(metadata, elem=null){

            console.log(metadata);
            
            content = elem.remove(".inline-success-feedback").html().trim(); // avoid feedback mark from being saved with content (see below).

            if(content=='<br>'){elem.empty(); content=''} //when contenteditable is cleared, an undesired <br> is added (+ this br tag prevents placeholder to show up).

            $.ajax({

                url: "{{path('live_save_pp')}}",
                type: "POST",
                data: {
                    "metadata": metadata,
                    "content": content,
                    "_token": liveSaveCsrfToken,
                },
                
                success: function(data) {

                    console.log("edited structure ok done");

                    elem.append('<span class="inline-success-feedback"> ✅</span>');

                    $(".inline-success-feedback").fadeOut(1000, function() { 

                        $(this).remove(); 

                    });

                   
                    $("#"+JSON.parse(metadata).subid+" .date").remove(); //clearing createdAt or updatedAt display.

                    customEvents.dispatchEvent(

                        new CustomEvent('presentationChangedOnRemote', {

                            detail: {

                                "structure": 'misc',
                                "metadata": metadata,
                                "content": content,

                            }
                        })

                    );

                },

                error : function(xhr, textStatus, errorThrown) {

                    console.log(errorThrown);
                    
                    elem.after($( "#live-feedback" ).attr("class", "text-danger").text(xhr.responseJSON.error));

                    
                    //console.log(xhr.responseJSON);
                }  

            });

        }


        // when a structure has been wysiwyg changed, some updates should be done so we catch the event.

        customEvents.addEventListener(
            
            "presentationChangedOnRemote", 

            function(e) { 

                console.log(e.detail.structure); 

                var data = e.detail;

                switch(data.structure){

                    case 'misc':

                        refresh_misc(data.metadata, data.content);
                        break;

                    default:
                      console.log("This structure is not refreshed");

                }

            }

        );

        // when a structure has been wysiwyg changed, some tag attributes might need to be changed also.

        function refresh_misc(metadata, content){

            metadata = JSON.parse(metadata)

            //console.log(metadata);

            console.log("refresh_misc_function"+content);
                
            if (metadata.property == "websites" && metadata.subproperty == "url"){
                
                $( "[data-website-link = "+metadata.subid+"]" ).attr("href", content);

                return true;
            }
                
            if (metadata.entity == "need" && metadata.property == "title"){
                
                $( "[data-need-title = "+metadata.id+"] .needTitle" ).html(content);
            }
                
                
            if (metadata.entity == "slide" && metadata.property == "caption"){

                hasCaptions();

            }
                
        }

        function initInfoTooltips() {
            if (!(window.bootstrap && bootstrap.Popover)) {
                return;
            }

            $(".pp-info-tooltip").each(function() {
                var btn = this;
                var existing = bootstrap.Popover.getInstance(btn);
                if (existing) {
                    existing.dispose();
                }
                new bootstrap.Popover(btn);
            });
        }

        initInfoTooltips();

        $(document).on("click", ".pp-info-tooltip", function() {
            var current = this;
            $(".pp-info-tooltip").not(current).each(function() {
                var inst = bootstrap.Popover.getInstance(this);
                if (inst) {
                    inst.hide();
                }
            });
        });

        $(document).on("click", function(e) {
            var $trigger = $(e.target).closest(".pp-info-tooltip, .popover");
            if ($trigger.length) {
                return;
            }

            $(".pp-info-tooltip").each(function() {
                var inst = bootstrap.Popover.getInstance(this);
                if (inst) {
                    inst.hide();
                }
            });
        });



    // + when a structure has just been made empty in edition mode, it should not be displayed in consultation mode.
    // --> See : reorder_delete_elements.html.twig (when deleting elements), and update_presentation_settings.html.twig (hide or show private messages card). 
    

});



</script>
