{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "add_business_card_form_modal", 'modal_size' : "modal-lg"} %}

    {% block modalTitle %}
    
        🖐️ Comment vous contacter ?
    
    {% endblock %}
        
    {% block modalBody %}

        {{ form_start(addBusinessCardForm, {
            action: path('pp_add_business_card', { stringId: presentation.stringId }),
            method: 'POST'
        }) }}

        {% set businessCardForm = addBusinessCardForm %}
        {% include "project_presentation/edit_show/business_cards/form.html.twig" %}

        <style>

            @media screen and (max-width: 580px) {

                .modal-body{
                    padding: 10px 9px;
                }

                form[name="business_card"] .contact-icon {
    
                    margin-right: 5px;
                    margin-bottom: 6px;
    
                }

                form[name="business_card"] label {
    
                    display: inline;
                    font-size: 17px !important;
                    font-weight: normal !important;
    
                }
    
            }

        </style>

    {% endblock %}

    {% block footerButtons %}

        <button type="submit" class="btn btn-validate">✔️Valider</button>

        {{ form_end(addBusinessCardForm) }}

    {% endblock %}


    {% block formErrors %}
        
        {% if not addBusinessCardForm.vars.valid %}

            <script>
            
                $(document).ready(function(){
            
                    $('#{{modal_id}}').modal('show');
            
                });
            
            </script>

        {% endif %}
    
    {% endblock %}

{% endembed %}
